{% extends "header.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div style="padding-top: 60px; margin: auto; width: 75%;">
    <div class="jumbotron">
    <h2> Cadastro de Saidas </h2>
        <form method="post">
            {% csrf_token %}
               <div class="form-row">
                    <div class="form-group col-md-4 mb-0">
                        {{ form_saidas.dt_saida|as_crispy_field }}
                    </div>
                   <div class="form-group col-md-4 mb-0">
                        {{ form_saidas.lj_destino|as_crispy_field }}
                   </div>
                   <div class="form-group col-md-4 mb-0">
                        {{ form_saidas.categoria|as_crispy_field }}
                   </div>
                   <div class="form-group col-md-8 mb-0">
                        {{ form_saidas.descricao|as_crispy_field }}
                   </div>
               </div>
                <div class="form-row">
                   <div class="form-group col-md-3 mb-0">
                        {{ form_saidas.modelo|as_crispy_field }}
                   </div>
                   <div class="form-group col-md-3 mb-0">
                        {{ form_saidas.n_serie|as_crispy_field }}
                   </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form_saidas.fabricante|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-2 mb-0">
                        {{ form_saidas.qtd_saida|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form_saidas.observacao|as_crispy_field }}
                    </div>
                </div>
            <button type="submit" class="btn btn-success">Salvar</button>
        </form>
    </div>
    </div>
{% endblock %}
