{% extends "header.html" %}
{% block content %}
    <div style="padding-top: 100px">

    <h2> Controle TI </h2>

    <div class="text-right" style="padding-bottom: 5px;">
        <a class="btn btn-outline-success" href="{% url 'url_cadControleti' %}" role="button">Adicionar</a>
        <a class="btn btn-outline-success" href="{% url 'url_cadControleti' %}" role="button">Alterar</a>
        <a class="btn btn-outline-danger" href="{% url 'url_cadControleti' %}" role="button">Remover</a>
    </div>
    <div>
        <table class="table table-sm table-bordered table-striper table-dark">
            <thead class="bg-success">
                <tr>
                    <th> Hostname</th>
                    <th> Mac</th>
                    <th> Endereço IP</th>
                    <th> Setor</th>
                    <th> Serviço</th>
                    <th> Responsável</th>
                    <th> Observação</th>
                </tr>
            </thead>
            <tbody id="myTable">

            {% for controleti in controletis %}
            <tr>
                <td>{{ controleti.Hostname }}</td>
                <td>{{ controleti.Mac }}</td>
                <td>{{ controleti.Ip_Address }}</td>
                <td>{{ controleti.Setor }}</td>
                <td>{{ controleti.Servico }}</td>
                <td>{{ controleti.Responsavel }}</td>
                <td>{{ controleti.Observacao }}</td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

    </div>
{% endblock %}
